# Helper notebooks
*.ipynb

# All logs except custom ones
*.log
!logs/*/*

# Python cached modules info
*/*/__pycache__/

# Visual Studio Code setup
.vscode/

# Temporary mid-run directories
.pickles/
.data/

# Local database info
.mysql/