# Helper notebooks
.ipynb_checkpoints
*.ipynb

# All logs (optionally except custom ones)
*.log
#!logs/*/*

# Python cached modules info
*/*/__pycache__/

# Visual Studio Code setup
.vscode/

# Temporary mid-run directories
.pickles/
.data/

# Nodejs related files
node_modules
npm-debug.log